.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    flex: 1;
}

.home p {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

p {
    text-align: left;
}

h1, h2 {
    font-family: DINNextW1G-Medium;
    font-weight: 400;
}

strong {
    font-family: DINNextW1G-Bold;
}

h1 {
    margin: 30px !important;
}

a {
    color: #0099ff;
    text-decoration: none !important;
    transition: 0.2s ease;
}
a:hover {
    color: #72d3fd;
}

/* .btn {
    background-color: #ee2200;
    border: 3px solid transparent;
    padding: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.btn.success {
    background-color: #13ed57;
    color: #222;
}

.btn:hover {
    filter: brightness(1.2);
    border: 3px solid #ff5233;
}
.btn.success:hover {
    border: 3px solid #61ff92;
}

.btn:active {
    filter: brightness(0.6);
} */



.infopage {
    max-width: 800px;
    width: 80%;
    margin: auto;
}

.infopage p {
    margin: 0 auto 20px auto;
    text-align: left;
    color: rgb(236, 232, 225);
}

.infopage h2 {
    text-align: left;
    margin: 0 auto;
}

.infopage li {
    margin: 10px auto;
}



/* loading ANIMATION */
.loading,
.loading div {
    box-sizing: border-box;
    margin: 0 auto;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
    left: 8px;
    animation: loading1 0.6s infinite;
}

.loading div:nth-child(2) {
    left: 8px;
    animation: loading2 0.6s infinite;
}

.loading div:nth-child(3) {
    left: 32px;
    animation: loading2 0.6s infinite;
}

.loading div:nth-child(4) {
    left: 56px;
    animation: loading3 0.6s infinite;
}

@keyframes loading1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loading3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes loading2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
