.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board .board-member {
    width: 220px;
    margin: 16px;
    background-color: #751700;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    transition: 0.2s ease;
    box-shadow: 0 0 10px 4px #222;
}
.board .board-member:hover {
    transform: scale(1.075);
}

.board .board-member .grade {
    position: absolute;
    right: 18px;
    top: 18px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    z-index: 999;
}

.board .board-member .image-container {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.3s ease;
    width: 100%;
    height: 250px;
}

.board .board-member:hover .image-container {
    border-radius: 10px;
}

.board .board-member .image-container img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 19px;
    transform-origin: 50% 0%;
    transition: transform 0.4s ease;
}
.board .board-member:hover .image-container img {
    transform: scale(1.2);
}

.board .board-member .name {
    /* font-family: "DINNextW1G-Bold"; */
    font-size: 24px;
    margin: 5px auto;
    text-align: center;
}

.board .board-member .position, .board .board-member .otherPosition {
    border: 2px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 3px 5px;
    margin: 0 auto;
    cursor: default;
    display: inline-block;
    transition: 0.2s ease;
}

.board .board-member .otherPosition {
    margin-left: 5px;
}

.board .board-member:hover .position, .board .board-member:hover .otherPosition {
    box-shadow: 0 0 10px rgb(145, 135, 109);
}