.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board .card {
    width: 220px;
    margin: 16px;
    background-color: #751700;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    transition: 0.2s ease;
    box-shadow: 0 0 10px 4px #222;
}
.board .card:hover {
    transform: scale(1.075);
}

.board .card .grade {
    position: absolute;
    right: 18px;
    top: 18px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    z-index: 999;
}

.board .card .image-container {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.3s ease;
    width: 220px;
    height: 250px;
}

.board .card:hover .image-container {
    border-radius: 10px;
}

.board .card .image-container img {
    width: 230px;
    height: 280px;
    object-fit: cover;
    border-radius: 19px;
    transform-origin: 50% 0%;
    transition: transform 0.4s ease;
}
.board .card:hover .image-container img {
    transform: scale(1.2);
}

.board .card .name {
    font-family: "Rubik";
    font-size: 24px;
    margin: 5px auto;
}

.board .card .position, .board .card .badge {
    border: 2px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 3px 5px;
    margin: 0 auto;
    cursor: default;
    display: inline-block;
}

.board .card .badge {
    margin-left: 10px;
}
