.footer-container {
    width: 100%;
}

.footer {
    width: 70%;
    max-width: 600px;
    border-top: 1px solid #4a4a4a;
    margin: 75px auto 5px auto;
    color: #aaa;
    padding: 10px 30px;
}

.footer p {
    margin: 5px 0;
    text-align: left;
}