@font-face {
    font-family: "VeniteAdoremus";
    src: url("fonts/veniteadoremus.ttf");
}

@font-face {
    font-family: "Tungsten-Bold";
    src: url("fonts/tungsten-bold.ttf");
}

@font-face {
    font-family: "DINNextW1G-Medium";
    src: url("fonts/dinnextw1g-medium.otf");
}

@font-face {
    font-family: "DINNextW1G-Regular";
    src: url("fonts/dinnextw1g-regular.otf");
}

@font-face {
    font-family: "DINNextW1G-Bold";
    src: url("fonts/dinnextw1g-bold.otf");
}

@font-face {
    font-family: Formula1;
    src: url("fonts/formula1-regular.otf");
}

body {
    font-family: "DINNextW1G-Regular" !important;
    font-weight: 800;
}