@font-face {
    font-family: "VeniteAdoremus";
    src: url("fonts/VeniteAdoremus.ttf");
}

@font-face {
    font-family: "Tungsten-Bold";
    src: url("fonts/Tungsten-Bold.ttf");
}

@font-face {
    font-family: "DINNextW1G-Medium";
    src: url("fonts/DINNextW1G-Medium.otf");
}

@font-face {
    font-family: "DINNextW1G-Regular";
    src: url("fonts/DINNextW1G-Regular.otf");
}

@font-face {
    font-family: "DINNextW1G-Bold";
    src: url("fonts/DINNextW1G-Bold.otf");
}

@font-face {
    font-family: Formula1;
    src: url("fonts/Formula1-Regular.otf");
}

body {
    font-family: "DINNextW1G-Regular" !important;
    font-weight: 800;
}