.leaderboard-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 400px;
    max-width: 700px;
    margin: 0 auto;
    row-gap: 10px;
}

.leaderboard p {
    text-align: center;
}

.entry {
    background-color: #5f5f5f;
    display: flex;
    height: fit-content;
    min-height: 40px;
    border-radius: 10px;
    transition: 0.2s ease;
    line-height: 20px;
}

.entry:not(.headers) p {
    text-shadow: 0 0 5px #333;
}

.entry p {
    transition: 0.3s ease;
}

.entry:not(.headers):hover {
    transform: scale(1.1);
}

.entry:not(.headers):hover p {
    transform: scale(1.1);
    text-shadow: 0 0 10px black;
}

.entry:not(.default):not(.headers) {
    /* height: 45px; */
    padding: 12px 0;
    font-size: 22px;
}

.entry.default {
    font-size: 18px;
}

.entry.first {
    background-color: #eca100;
}

.entry.second {
    background-color: #aebdc1;
}

.entry.third {
    background-color: #a36200;
}

.leftinfo {
    display: flex;
    flex-basis: 50%;
}

.leaderboard .points {
    margin: auto 10px;
    /* font-family: "VeniteAdoremus"; */
    font-family: Formula1;
    cursor: default;
    flex-basis: 25%;
    text-align: center;
}

.wins {
    margin: auto 10px;
    font-family: Formula1;
    flex-basis: 25%;
    cursor: default;
}

.position {
    margin: auto 10px;
    width: fit-content;
    cursor: default;
}

.leaderboard .name {
    width: fit-content;
    margin: auto 0;
    /* font-family: Inter; */
    font-weight: 500;
    text-align: left !important;
}

.headers {
    background-color: transparent;
    font-size: 18px;
}

.header {
    font-family: DINNextW1G-Medium !important;
}

.header-wins {
    flex-basis: 25%;
    text-align: right;
}

