.navbar-brand img {
    margin-right: 10px;
}

.nav-link, .navbar-brand {
    transition: 0.1s ease !important;
}
.nav-link:hover, .navbar-brand:hover {
    transform: scale(1.1);
}

.rightitem {
    color: rgba(255,255,255, 0.65) !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.rightitem:hover {
    color: white !important;
}

.rightitem:not(:last-child) {
    margin: auto 15px;
}