.navbar {
    margin: 0 30px 50px 30px;
    height: 40px;
}

.navbar .left, .navbar .right {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    column-gap: 40px;
    height: 100%;
}
.navbar .left {
    float: left;
}
.navbar .right {
    float: right;
}

.navbar .left .home img {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}
.navbar .left .home p {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    margin-left: 10px;
}

.navbar a {
    color: #bbb;
    text-decoration: none;
    transition: 0.2s ease;
    margin: auto;
}
.navbar a:hover {
    color: white;
    transform: scale(1.15);
}
